<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li> <a href="/dashboard-fleet-manager" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li class="nav-label">Manage</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-archive"></i><span class="hide-menu">Loads</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/newload">New load</a></li>
                        <li><a href="#">Manage load</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-truck"></i><span class="hide-menu">Trucks</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Add truck</a></li>
                        <li><a href="#">Manage truck</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Driver</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Add driver</a></li>
                        <li><a href="#">Manage driver</a></li>
                        <li><a href="#">Map driver to truck</a></li>
                    </ul>
                </li>
                <li class="nav-label">Tracking</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-feed"></i><span class="hide-menu">Notifications</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Alerts</a></li>
                        <li><a href="#">Feeds</a></li>
                        <li><a href="#">Sensor feeds</a></li>
                    </ul>
                </li>
                </li>
                <li class="nav-label">Documentations</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Sheet</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="table-datatable.html">Data Tables</a></li>
                    </ul>
                </li>
                <li class="nav-label">EXTRA</li>
                <li> <a href="/upgrade" aria-expanded="false"><i class="fa fa-arrow-up"></i><span class="hide-menu">Upgrade</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->