<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li> <a href="/dashboard-driver" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li class="nav-label">Documents</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-drivers-license"></i><span class="hide-menu">License</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/upload">New license</a></li>
                        <li><a href="/driver-license">Manage license</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-paperclip"></i><span class="hide-menu">Other</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/upload">Add Documents</a></li>
                        <li><a href="/driver-other-docs">Manage Documents</a></li>
                    </ul>
                </li>
                <li class="nav-label">Tracking</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-feed"></i><span class="hide-menu">Notifications</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Alerts</a></li>
                        <li><a href="#">Feeds</a></li>
                        <li><a href="#">Sensor feeds</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="/manage-load" aria-expanded="false"><i class="fa fa-archive"></i><span class="hide-menu">Loads</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/load-data">Manage load</a></li>
                    </ul>
                </li>
                <li> <a href="/lock" aria-expanded="false"><i class="fa fa-lock"></i><span class="hide-menu">Lock</span></a>
                </li>
                <li class="nav-label">EXTRA</li>
                <li> <a href="/upgrade" aria-expanded="false"><i class="fa fa-arrow-up"></i><span class="hide-menu">Upgrade</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->